body{
  font-family: sans-serif;
}

h1{
  font-size: 2rem;
}

p{
  font-size: 1.2rem;
  line-height: 1.5;
}

hr{
  border: none;
  border-bottom: dotted white 5px;
  margin: 100px 40%;
}

.squeeze{
  margin: auto;
  max-width: 1200px;
  padding: 0 20px;
}

nav{
  color: white;
  height: 80px;
  overflow: hidden;
  position: fixed;

  background: rgba(0, 0, 0, 0.8);
  width: 100%;

  border-bottom: black solid 2px;
}

nav h2{
  display: inline-block;
  padding-left: 0;
  margin-top: 18px;
}
nav .navlinks{
  display: inline-block;
  float: right;

  padding: 20px;
}

a{
  color: white;
  text-decoration: none;

  transition: color ease 150ms;
  font-size: 1.5rem;
}

a:first-child:before{
  content: "";
}

a:before{
  content: " | ";
  margin: 0 10px;
  color: white;
}

a:before:hover{
  color: white;
}

a:hover{
  color: mediumpurple;
  text-decoration: none;
}

.banner{
  color: white;

  padding: 200px 100px;
  text-align: center;

  background: rgb(192,63,251);
  background: radial-gradient(circle, rgba(192,63,251,1) 0%, rgba(88,70,252,1) 100%);
}

.banner h1 {

  font-weight: bold;
}

.about{
  padding-top: 25px;
}

.about h1{
  text-align: center;
}

.about p{
  text-align: justify;
  line-height: 1.5rem;
}

#schools{
  margin: 100px 0 0 0;
  padding: 50px 0;
  text-align: center;
  background: rgb(14, 35, 163);
  color: white;
}

#schools img{
  height: 300px;

  border-radius: 50%;
  border: white solid 4px;
}



footer{
  background: #222222;
}

.partner{
  height: 100px;
  overflow: hidden;
}
